@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.timetravel {
  display: flex;
  flex-direction: column;
  /* background-color: #FDF2F8; */
  /* align-items: center;  */
  min-height: 100vh;
  width: 100vw; 
  align-items: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 400; */
  font-style: normal;
  font-variation-settings:"slnt" 0;
}

.Head-Text h1{
  font-size: clamp(2.5rem, 4vw, 3rem);
  margin-bottom: 20px;
}

.Head-Text{
  text-align: center;
  height: 20%;
  width: 100%;
  margin-top: 2vw;
  color:purple;
}
.content {
  background-color: white;
  padding: 20px; /* Adjust padding as needed */
  width : 40%;
  justify-content: center;
  align-items: center;
  margin-top: 40px; /* Adjust margin-top as needed */
  border-radius: 20px; /* Adjust border radius as needed */
}
.form-group {
  margin: 5vh 0vh 0vh 0vh;
}
.submit-button {
  margin: 2vh 0vh 0vh 0vh;
}
.react-calendar {
  font-family: Arial, sans-serif;
  font-size: 18px; /* Increase font size for better readability */
  width: 90%; /* Adjust width as needed */
  max-width: 600px; /* Increase max-width to make the calendar bigger */
  border: 1px solid #ccc;
  border-radius: 8px;
}
.react-calendar__tile {
  padding: 0.5em; /* Optional: Adjust padding */
}

.react-calendar__navigation {
  margin-bottom: 1em; /* Optional: Adjust margin */
}

.react-calendar__month-view__weekdays {
  font-weight: bold; /* Optional: Adjust font weight */
}
