.custom-navbar {
  background-color: rgb(239, 239, 239);
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.12);
}

.custom-navbar .navbar-brand {
  display: flex;
  align-items: center;
  flex: 0 1 auto;
  max-width: 100%; /* Add this line */
}

.custom-navbar .navbar-brand img {
  height: auto;
  max-height: 80px;
  width: auto;
  max-width: 100%; /* Add this line */

}

.container-fluid {
  justify-content: flex-start !important;
}

.navbar-toggler {
  display: block;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.navbar-toggler-icon {
  width: 1em;
  height: 1em;
}

.me-3 {
  display: flex;
}

.header-logo{
  display: flex;
}
.header-logo-image{
  width: 140px;
}

.ms-3 {
  margin-left: 1rem !important;
}

.me-3 {
  margin-right: 1rem;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.input-group-custom {
  width: 300px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: left 0.3s ease;
  z-index: 9999;
}

.sidebar.open {
  left: 0;
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}

.menu-hr {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar-nav {
  color: #303030;
}
.nav-link {
  display: flex !important;
  color: #303030 !important;
}

.sidebar-logo-div {
  margin-bottom: 15px;
  background-color: gainsboro;
}

.sidebar-logo {
  padding-right: 30px;
  margin-left: -10px;
}

.verification-popup-head{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 2px solid #682F96;
  padding: 10px;
  max-width: 70%;
  overflow-y: auto;
  border-radius: 10px;
  border: 2px solid;
  z-index: 10000;
  min-width: 200px;
}
@media screen and (max-width: 1040px) {
  .input-group-custom {
    width: 200px !important;
  }

  .me-3 {
    display: flex;
    margin-right: 0rem !important;
    font-size: small;
  }
}

@media screen and (min-width: 992px) {
  .header-logo-image{
    width: 200px;
  }
}

@media screen and (max-width: 992px) {
  .header-logo {
    order: 2;
  }
  .custom-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .custom-navbar .navbar-toggler {
    order: 1;
    border: 1px solid gray;
  }

  .custom-navbar .navbar-brand img {
    width: 65% !important;
  }

  .custom-navbar .navbar-brand {
    order: 2;
    margin-right: 0; /* Adjusted */
  }

  .custom-navbar .navbar-nav {
    order: 3;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    margin-right: 10px;
  }

  .ms-auto .nav-menu {
    display: none !important;
  }

  .nav-title {
    display: none;
  }

  .nav-toggle {
    margin-left: 20px;
  }

  .custom-navbar .navbar-nav .nav-link {
    font-size: small;
    margin-right: 0rem !important;
  }

  .custom-navbar .navbar-nav .search-input-group {
    flex-grow: 1;
    order: 4;
  }
}

@media screen and (max-width: 468px) {
  .me-3 {
    display: flex;
    align-items: center;
    font-size: 0.75rem !important;
  }
}
