@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

body {
  background: #eee;
}
.container {
  /* background-color: #fdf2f8; */
  height: auto;
  display: flex;
  align-items: center;
  border-radius: 2vh;
  margin-top: 2.5vh;
  flex-direction: column;
}
.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Head-Text > h1 {
  margin: 4vh 0 0 0;
  font-size: clamp(2.5rem, 5vw, 3rem);
  color: purple;
  font-weight: 600;
  text-align: center;
  margin-top: 2rem;
}
.Container {
  background-color: #fdf2f8;
  width: clamp(30vw, 70vw, 80vw);

  min-width: 20vw;

  box-shadow: 0px 5px 10px 0px rgb(125, 115, 115);
  margin: auto;
  border-radius: 20px;
}

.Container-heading {
  position: relative;
  height: 20%;
  display: flex;
  justify-content: center;
  /* margin-bottom: 50px; */
}
.Container-final {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.Container-heading h1 {
  font-size: clamp(2.2rem, 3vw, 3rem);
  font-weight: 700;
  margin-top: 40px;
}
.conten {
  display: flex;
}
.conten-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
  padding: 10px;
}
.conten-left button {
  color: white;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(26, 26, 26);
  cursor: pointer;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  padding: 0.6em 1.2em;
  transition: border-color 0.25s ease 0s;
}
.conten-left button:hover {
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  box-shadow: 0px 5px 10px 0px rgb(125, 115, 115);
  border: 0;
  color: black;
  background-color: white;
}
.conten-left .img-mc,
.img-hh,
.img-wm,
.img-li,
.img-eg,
.img-cp,
.img-bs,
.img-fp,
.img-la,
.img-rs,
.img-kfp,
.img-pt,
.img-pa,
.img-bci,
.img-sm,
.img-pp,
.img-th,
.img-rh,
.img-ch,
.img-crh {
  width: 100%;
  height: 60%;
  border-radius: 20px;
  object-fit: fill;
}
.img-mc {
  background: url("./images/Marriage Consultation.png")  no-repeat center center;
  background-size: 100% 100%;
  height: 220px;
  border-radius: 20px;
}
.img-hh {
  background: url("./images/Health Healing.png") no-repeat center center/cover;
  height: 240px;
}

.img-wm {
  background: url("./images/Wealth Management.png")  no-repeat center center;
  background-size: 100% 100%;
  height: 220px;
  border-radius: 20px;
}

.img-li {
  background: url("./images/Love Insights.png")  no-repeat center center;
  background-size: 100% 100%;
  height: 220px;
  border-radius: 20px;
}

.img-eg {
  background: url("./images/Educational Guidance.png")  no-repeat center center;
  background-size: 100% 100%;
  height: 220px;
  border-radius: 20px;
}

.img-cp {
  background: url("./images/Career Path.png")  no-repeat center center;
  background-size: 100% 100%;
  height: 220px;
  border-radius: 20px;
}

.img-bs {
   background: url("./images/Business Strategies.png")  no-repeat center center;
  background-size: 100% 100%;
  height: 220px;
  border-radius: 20px;
}

.img-fp {
  background: url("./images/Finance Planning.png")  no-repeat center center;
  background-size: 100% 100%;
  height: 220px;
  border-radius: 20px;
}

.img-la {
  background: url("./images/Legal Advice.png")  no-repeat center center;
  background-size: 100% 100%;
  height: 220px;
  border-radius: 20px;
}

.img-rs {
  background: url("./images/Remedies & Solutions.png") no-repeat center center;
  background-size: 100% 100%;
  background-color: white;
  height: 220px;
  border-radius: 20px;
}

.img-kfp {
 background: url("./images/Kids Fortune Prediction.png")  no-repeat center center;
  background-size: 100% 100%;
  height: 220px;
  border-radius: 20px;
}

.img-pt {
  background: url("./images/Parenting Tips.png") no-repeat center center;
  background-size: 100% 100%;
  height: 220px;
  border-radius: 20px;
}

.img-pa {
  background: url("./images/Panchang Analysis.png")  no-repeat center center;
  background-size: 100% 100%;
  height: 220px;
  border-radius: 20px;
}

.img-bci {
  background: url("./images/Birth Chart Interpretation.png")  no-repeat center center;
  background-size: 100% 100%;
  height: 220px;
  border-radius: 20px;
}

.img-sm {
  background: url("./images/Shubh Muhurat.png")  no-repeat center center;
  background-size: 100% 100%;
  height: 220px;
  border-radius: 20px;
}

.img-pp {
  background: url("./images/Personalized Pooja.png")  no-repeat center center;
  background-size: 100% 100%;
  height: 220px;
  border-radius: 20px;
}

.img-th {
 background: url("./images/Theta Healing.png")  no-repeat center center;
  background-size: 100% 100%;
  height: 220px;
  border-radius: 20px;
}

.img-rh {
  background: url("./images/Reiki Healing.png")  no-repeat center center;
  background-size: 100% 100%;
  height: 220px;
  border-radius: 20px;
}

.img-ch {
  background: url("./images/Chakra Healing.png")  no-repeat center center;
  background-size: 100% 100%;
  height: 220px;
  border-radius: 20px;
}

.img-crh {
  background: url("./images/Crystal Healing.png") no-repeat center center;
  background-size: 100% 100%;
  height: 220px;
  border-radius: 20px;
}

.conten-right {
  margin: 10px;
  height: 300px;
  width: 60%;
  text-align: center;
}
.conten-right p {
  text-align: left;
  font-weight: 500;
  width: 100%;
  /* margin-top: clamp(10px, 1.5vw, 20px); */
  font-size: clamp(0.8rem, 1.2vw, 1.4rem);
}
.conten-right h1 {
  font-size: clamp(2rem, 3vw, 3rem);
  font-weight: 700;
}
.top {
  gap: 20px;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top h3 {
  font-size: clamp(1.2rem, 2vw, 2rem);
}
.top img {
  height: 30%;
  width: 20%;
  object-fit: cover;
}
.mid {
  width: 100%;

  padding: 20px;

  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}
.mid li {
  margin: 20px;
  width: 100%;

  display: flex;
  gap: 20px;
  list-style: none;
}
.mid li p {
  width: 100%;
}
.bottom {
  padding: 20px;
}
.bottom button {
  color: white;
}
.bottom button:hover {
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  box-shadow: 0px 5px 10px 0px rgb(125, 115, 115);
  border: 0;
  color: black;
  background-color: white;
}
@media screen and (max-width: 468px) {
  .Container-heading h1 {
    text-align: center;
  }
  .Container-heading {
    margin: 10px;
  }
  .conten {
    flex-direction: column;
  }
  .conten-left {
    width: 100%;
    margin-bottom: 20px;
  }
  .conten-right {
    width: 100%;
  }
  .Container-heading {
    height: 8%;
  }
  .Container {
    width: 70%;
    height: 70%;
  }
  .top img {
    height: 50%;
    width: 50%;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}
.grid-container-main {
  display: flex;
  justify-content: center;
  background-color : white;
  align-items: center;
  flex-direction: column;
  margin: 18px; /* Adjust margin as needed */
  border-radius: 20px;
}

.grid-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-weight: 600;
  height: 200px; /* Increase height as needed */
  width: 300px; /* Increase width as needed */
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  transition: all 1s;
  overflow: hidden;
}

/* Adjust background size to cover */
.bg-mc,
.bg-hh,
.bg-wh,
.bg-li,
.bg-eg,
.bg-cp,
.bg-bs,
.bg-fp,
.bg-la,
.bg-rs,
.bg-kfp,
.bg-pt,
.bg-pa,
.bg-bci,
.bg-sm,
.bg-pp,
.bg-th,
.bg-rh,
.bg-ch,
.bg-crh {
  background-size: cover;
}


.grid-items:hover {
  cursor: pointer;
}

.info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.753);
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  height: 50px;
  width: 100%; /* Adjust this width as needed */
  font-size: 12px;
  font-weight: 600;
  border: none;
  background-color: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.753);
  letter-spacing: 2px;
  /* margin-bottom: 80px; */
}

.heading h2 {
  color: #fff;
  opacity: 100;
  font-size: 15px;
  font-weight: 500;
}


.book-call {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4px;
  height: 30px;
  width: 115px;
  background-color: transparent;
  border: 1px;
  color: black;
  font-size: 20px;
  letter-spacing: 3px;
}

.book-chat > i {
  font-size: medium;
}

.book-chat {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 4px;
  height: 30px;
  width: 115px;
  border: 1px solid black;
  border-radius: 10px;
  border: 1px;
  color: white;
  background-color: black;
  transition: all 0.4s;
}

.book-chat:hover {
  color: black;
  background-color: white;
  box-shadow: 0px 5px 10px 0px rgb(125, 115, 115);
}

.link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.bg-mc {
  background: url("./images/Marriage Consultation.png") no-repeat center
    center/cover;
}

.bg-hh {
  background: url("./images/Health Healing.png") no-repeat center center/cover;
}

.bg-wh {
  background: url("./images/Wealth Management.png") no-repeat center
    center/cover;
  object-fit: contain;
}

.bg-li {
  background: url("./images/Love Insights.png") no-repeat center center/cover;
}

.bg-eg {
  background: url("./images/Educational Guidance.png") no-repeat center
    center/cover;
}

.bg-cp {
  background: url("./images/Career Path.png") no-repeat center center/cover;
}

.bg-bs {
  background: url("./images/Business Strategies.png") no-repeat center
    center/cover;
}

.bg-fp {
  background: url("./images/Finance Planning.png") no-repeat center center/cover;
}

.bg-la {
  background: url("./images/Legal Advice.png") no-repeat center center/cover;
}

.bg-rs {
  background: url("./images/Remedies & Solutions.png") no-repeat center
    center/cover;
}

.bg-kfp {
  background: url("./images/Kids Fortune Prediction.png") no-repeat center
    center/cover;
}

.bg-pt {
  background: url("./images/Parenting Tips.png") no-repeat center center/cover;
}

.bg-pa {
  background: url("./images/Panchang Analysis.png") no-repeat center center/cover;
}

.bg-bci {
  background: url("./images/Birth Chart Interpretation.png") no-repeat center
    center/cover;
}

.bg-sm {
  background: url("./images/Shubh Muhurat.png") no-repeat center center/cover;
}

.bg-pp {
  background: url("./images/Personalized Pooja.png") no-repeat center
    center/cover;
}

.bg-th {
  background: url("./images/Theta Healing.png") no-repeat center center/cover;
}

.bg-rh {
  background: url("./images/Reiki Healing.png") no-repeat center center/cover;
}

.bg-ch {
  background: url("./images/Chakra Healing.png") no-repeat center center/cover;
}

.bg-crh {
  background: url("./images/Crystal Healing.png") no-repeat center center/cover;
}

.astrology {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-grow: 2;
    width: 500px;
  }
  .grid-items::after {
    width: 0%;
  }

  .callchat-button {
    display: flex;
    justify-content: center;
    align-items: center;
    float: none;
  }
}

.callchat-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
  float: right;
}

.buttons {
  border-radius: 0px;
  border-left: 1px white solid;
  border-right: 1px white solid;
  width: 150px;
  color: #fff;
  font-size: 24px;
  height: 58px;
}
.btn-call2 {
  background-color: white;
  color: black;
}
.btn-call1{
  background-color: white;
  color: black;
}

.buttons > i {
  padding-right: 7px;
  font-size: 30px;
}

