.custom-navbar {
    background-color: rgb(239, 239, 239);
    width: 100vw;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.12);
  }
  
  .custom-navbar .navbar-brand img {
    height: auto;
    max-height: 80px;
    width: auto;
  }
  
  .container-fluid {
    justify-content: flex-start !important;
  }
  
  /* Ensure the navbar-toggler is always displayed */
  .navbar-toggler {
    display: block;
  }
  
  @media screen and (max-width: 992px) {
    .custom-navbar .navbar-toggler {
      order: 1;
    }
  
    .custom-navbar .navbar-brand {
      order: 2;
      margin-left: 0;
    }
  
    .custom-navbar .navbar-nav {
      order: 3;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .custom-navbar .navbar-nav .nav-link {
      font-size: small;
    }
  
    .custom-navbar .navbar-nav .search-input-group {
      flex-grow: 1;
      order: 4;
    }
  
    /* Hide specific elements for max-width 992px */
    .custom-navbar .navbar-nav .nav-item:nth-child(2), /* Shopping */
    .custom-navbar .navbar-nav .nav-item:nth-child(5), /* Login/Registration */
    .custom-navbar .navbar-nav .nav-item:nth-child(6) { /* AccountCircle */
      display: none;
    }
  }
  
  @media screen and (max-width: 1040px) {
    .input-group-custom {
      width: 200px !important;
    }
    .me-3 {
      margin-right: 0rem !important;
      font-size: small;
    }
  }
  
  .ms-3 {
    margin-left: 1rem !important;
  }
  
  .me-3 {
    margin-right: 1rem;
  }
  
  .mb-1 {
    margin-bottom: 0.25rem !important;
  }
  
  .input-group-custom {
    width: 300px;
  }
  