
.section h2 {
  font-weight: bold;
  font-size: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
  align-content: center;
}

.section {
  display: block;
  margin-bottom: 40px;
}

.box {
  display: inline-block;
  width: calc(50% - 25px);
  min-height: auto;
  background: rgb(154,82,155);
  background: linear-gradient(93deg, rgba(154,82,155,1) 0%, rgba(88,121,227,1) 100%);
  border: 2px solid rgb(154,82,155);
  border-radius: 20%;
  opacity: 100%;
  padding: 15px;
  margin: 10px;
  cursor: pointer;
}

.box img {
  max-width: 100%;
  height: 100%;
  justify-content: center;
}

.box h2 {
  margin-bottom: 10px;
}

h3 {
  font-style: bold;
}

@media (max-width: 768px) {
  .box {
    width: calc(50% - 20px);
  }
}

@media (max-width: 576px) {
  .box {
    width: calc(100% - 20px);
  }
}

/*button:hover{
  background-color: rgb(255, 0, 93);
}
input:hover{
  background-color: rgb(255, 0, 93);
} */

.img-icon{
  width: 100%;

} 
.img-icon-1{
  width: 100%;
}
.choose-file{
  overflow: hidden;
  margin-top: 20px;
  margin-bottom:20px;
}
.face-input-section {
  display: flex;
  width: 78%;
  margin-left:auto;
  margin-right: auto;
  border-radius: 1rem;
  border: solid #D9D9D9;
  background-color: #D9D9D9;
}
.two-face{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.face-reader{
  background-color: #FDF2F8;
  width: 80vw;
  padding-bottom: 20px;
  border-radius: 20px;
}
@media screen and (max-width:640px) {
  .face-reader{
    width: 90vw;
  }
  .scan-btn {
    font-size: small;
  }
}
.img-display-after{
 background-color:  #FDF2F8;
 width: 300px;
 height: 250px;
 margin-left: 140px;
 border-radius: 1rem;
  object-fit: contain;
}
.card-mt-3 {
  /* height: 100%; */
  display: inline-block;
  vertical-align: middle;
  /* padding-left: 20px; */
  /* padding-right: 20px; */
  border-right: 2px solid #000; /* Add a right border */
}

.face-image-upload {
  display: inline-block;
  vertical-align: middle;
}

.file-scan-container {
  width: calc(100% - 60%); /* Adjust the value accordingly */
  display: flex;
  flex-direction: column;
  padding: 5%;
  justify-content: space-around;
}

@media screen and (min-width:700px) and (max-width:1000px){
  .file-input{
    font-size:small !important;
  }
  .file-scan-container {
    padding: 20px 10px 20px 0px !important;
  }
}
@media screen and (min-width:200px) and (max-width:700px){
  .face-input-section {
    width:80% !important;
  }
  .palm-input-section {
    width: 85% !important;
  }
  .two-face {
    display: flex;
    flex-direction: column;
  }
  .card-mt-3{
    border-right: 0px solid #000;
    border-bottom: 2px solid #000;
  }
  .img-icon-1 {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
  }
  .img-icon {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
  }
  .file-scan-container {
    width: calc(100% - 50%);
    justify-content: center;
    gap: 20px;
  }
  .file-input {
    font-size: small !important;
  }
}


.choose-file {
  /* Styles for choose-file */
}
.file-input{
  font-size:medium;
}

.scan-btn {
  /* Styles for scan-btn */
  background-color: black;
  color: white;
}


.time{
  width: 440px;
  height: 250px;
  background-color: #ffffff;
  border: solid#dbcf9e;
  margin-top: 50px;
  border-radius: 1rem;
  object-fit: contain;
}
div.time:hover{
 
}
.time-past{
  display: flex;
  width: 78%;
  margin-left: auto;
  margin-right: auto;
}


.btn{
  margin-left: 5px;
  display: contents;
  font-weight: bold;
  padding: 15px;
  margin: 10px;
}
.ancestors-from{
  height: 75%;
  width: 100%;
  background-color: grey;
  object-fit:cover;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem ;

}
.magic-icon{
  height: 75%;
  width: 100%;
  background-color: grey;
  object-fit:cover;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem ;
}
.face-text{
  text-align: center;
  font-size: 30px;
  padding: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
  color: #672F98;
}
.time-magic {
  height: 25%;
  display: flex; /* Use flexbox */
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}
.magic-text{
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}
.ancestors-text{
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}
.face-text-result{
  padding: 30px;
  font-size: 25px;
  text-align: center;
  color: #672F98;
}
.face-result{
  width: 100vw;
  height: 100vh;
  background-color: #FDF2F8;
  overflow: auto;
}


.face_result_data-content ul {
  list-style-type: none;
  padding: 0;
}

.face_result_data-content li {
  margin: 5px 0;
}

.face-result-whole{
  width: 100vw;
  height: 100%;
  background-color: #FDF2F8;
}
.Personal-Traits,
.Life-Path,
.Relationship,
.Growth{
  width: 60%;
  min-height: 300px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  background-color: white;
  border-radius: 1rem;
}
.personal-trait-text{
  font-size: 30px;
  padding-top: 10px;
  text-align: center;
}
.personal-trait-icon{
  width: 60px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  object-fit: contain;
}
.hr-tag{
  margin-top: 20px;
  width: 100%;
}
.Life-path-text{
  font-size: 30px;
  padding-top: 10px;
  text-align: center;
}
.Life-path-icon{
  width: 60px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  object-fit: contain;
}
.hr-tag{
  margin-top: 20px;
}
.Relationship-text{
  font-size: 30px;
  padding-top: 10px;
  text-align: center;
}
.Relationship-icon{
  width: 60px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  object-fit: contain;
}
.hr-tag{
  margin-top: 20px;
}
.Growth-text{
  font-size: 30px;
  padding-top: 10px;
  text-align: center;
}
.Growth-icon{
  width: 60px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  object-fit: contain;
}
.Time-magic-pic{
  margin-top: 5%;
  display: flex;
  width: 100%;
  height: 50%;
  border-radius: 1rem;
  justify-content: center;
}
.Know-past{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding: 20px;
  background-color: white;
  border-radius: 1rem; 
}
.choose-file-palm{
  margin-left: 500px;
  margin-top: 50px; 
}
.scan-btn-palm{
  background-color: pink;
  width: 140px;
  margin-left: 900px;


}
.choose-file-finger {
  margin-left: 500px;
  margin-top: 50px;
}

.scan-btn-finger {
  background-color: pink;
  width: 140px;
  margin-left: 900px;
}

.palm-input-section {
  display: flex;
  width: 78%;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 40px;             
  border-radius: 1rem;
  border: solid #D9D9D9;
  background-color: #D9D9D9;
}
