.Main-Page {
    min-height: 100vh;
    width: 100%;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}


.cards {
    /* margin-top: 50px; */
    /* padding: 30px; */
    /* width: 100%; */
    min-height: max-content;
    /* Adjust the minimum height */
    /* max-height: 80vh; */
    /* Limit the maximum height */
    /* overflow: auto; */
    /* border-top: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    position: relative;
}

.Card {
    position: relative;
    min-height: 30vh;
    min-width: 230px;
    box-shadow: 0px 0px 10px 0px rgb(10, 10, 10);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    height: 42vh;
    padding: 10px;
    width: 25vw;
    cursor: pointer;
    gap: 20px;
    overflow: hidden;
    background-color: white;
    /* border: 1px solid black; */
}



.Card p {
    font-size: clamp(1.4rem, 1.4vw, 2.2rem);
    font-weight: 500;
    text-align: center;
}

.Card iframe {
    height: clamp(1rem, 10vw, 12rem);
    border-radius: 5px;
    min-width: 200px;
    width: 20vw;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* margin-top: 20px; */

    /* height: clamp(5vh, 20vw, 30vh); */

}

@media screen and (max-width: 468px) {
    .cards {
        /* border: 1px solid black; */
        width: 100%;
    }
    .Card {
        height: 65vw;
        width: 100%;
        gap:0px !important;
    }
    .Card p {
        padding-top: 10px;
        font-size: clamp(1.5rem, 1.6vw, 2.2rem);
    }
    .Card iframe {
        /* width: 50%;
        height: 20vh; */
        width: auto;
        height: 23vh;
        top: 43%;
        position: absolute;
    }
}

.Card:hover {
    box-shadow: 0px 0px 20px 0px rgb(10, 10, 10);
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}