.Main-Page {
    min-height: 100vh;
    width: 100%;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

/* .Meditation-text {
    height: clamp(5vh, 10vh, 12vh);
    width: 100%;
} */

.Meditation-text h1 {
    font-size: clamp(2.5rem, 5vw, 3rem);
    color: purple;
    font-weight: 600;
    text-align: center;
}

.cards {
    /* margin-top: 50px; */
    /* padding: 30px; */
    /* width: 100%; */
    min-height: 30vh; /* Adjust the minimum height */
    max-height: 80vh; /* Limit the maximum height */
    /* overflow: auto; */
    /* border-top: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    
    /* border: 1px solid black; */
}

.Card {
    position: relative;
    min-height: 30vh;
    min-width: 230px;
    box-shadow: 0px 0px 10px 0px rgb(10, 10, 10);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    height: 42vh;
    padding: 10px;
    width: 25vw;
    cursor: pointer;
    gap: 20px;
    overflow: hidden;
}



.Card p {
    font-size: clamp(1.8rem, 1.6vw, 2.2rem);
    text-align: center;
}

.Card iframe {
    height: clamp(10rem, 10vw, 12rem);
    border-radius: 5px;
    min-width: 200px;
    width: 20vw;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 20px;

    /* height: clamp(5vh, 20vw, 30vh); */

}

@media screen and (max-width: 468px) {  
    .Card {
        height: 75vw;
        width: 80vw;
    }

    .Card iframe {
        width: 70vw;
    }
}.Card:hover {
    box-shadow: 0px 0px 20px 0px rgb(10, 10, 10);
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}