@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.past-life-button-wrapper {
  margin-top: 20px;
}
.past-life-btn{
  width: 100%;
  background-color: black !important;
  color: white;
}
.cards-container-pl {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 4vh 0;
}
.card-pl {
  margin: 2vh 1vh;
  height: 350px;
  width: 650px;
  background-color: #fff;
  color: black;
}
.card-header-pl {
  background-color: transparent;
}
.card-header-pl > h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.content {
  color: black;
}
