.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .message {
    font-size: 24px;
  }
  
  .screen {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .color {
    position: absolute;
    width: 30px;
    height: 30px;
  }
  
  .quote {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .quote-text {
    font-size: 24px;
    color: white; /* Style the quote text */
  }
  
  .restart-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
  }
  