body {
    margin: 10;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Emotional-options{
    margin-top: 50px;
}
.Container{
    background-color: #FDF2F8;
    width: clamp(30vw, 70vw, 80vw);   
    min-width: 20vw;
    box-shadow: 0px 5px 10px 0px rgb(125, 115, 115);
    margin: auto;
    border-radius: 20px;
}

.Container-heading{
    
    position: relative;
    height: 20%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
}
.Container-final{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.Container-heading h1{
    font-size: clamp(2.2rem, 3vw, 3rem);
    font-weight: 700;
}
.backicon{
    cursor: pointer;
    position: absolute;
    left: 0;
    font-size: clamp(1.8rem, 3vw, 3rem);
}
.conten{
  
    display: flex;
}
.conten-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
    padding: 10px;

}
.conten-left button{
    color: white;
}
.conten-left button:hover{
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    box-shadow: 0px 5px 10px 0px rgb(125, 115, 115);
    border: 0;
    color: black;
    background-color: white;
}
.conten-left img{
    width: 100%;
    height: 60%;
    border-radius: 20px;
    object-fit: cover;
}
.conten-right{
    margin-top: 10px;
    /* margin: 10px; */
    height: 300px;
    width: 60%;
    text-align: center;
}
.conten-right p{
    text-align: left;
    font-weight: 600;
    width: 100%;
    /* margin-top: clamp(10px, 1.5vw, 20px); */
    font-size: clamp(0.8rem, 1.2vw, 1.4rem);
}
.conten-right h1{
    font-size: clamp(2rem, 3vw, 3rem);
    font-weight: 700;
}
.top{
    gap: 20px;
    width: 100%;
    padding-top:10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top h1{
    font-size: 3.2em;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
}
.top h3{
    font-size: clamp(1.2rem, 2vw, 2rem);
}
.top img{
    height: 30%;
    width: 20%;
    object-fit: cover;
    background-color: white;
    border-radius: 15px;
}
.mid{
    width: 100%;
    
   padding:20px ;   
    gap: 20px;
    padding-bottom:20px ;
    border-bottom: 1px solid black;
}
.mid li{
    
    margin: 20px ;
    width: 100% ;
    
    
  display: flex;
  gap: 20px;
    list-style: none;
}
.mid li p{
    width: 100%;
}
.bottom{
    padding: 20px;
}
.bottom button{
    
    color: white;
}
.bottom button:hover{
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    box-shadow: 0px 5px 10px 0px rgb(125, 115, 115);
    border: 0;
    color: black;
    background-color: white;
}
@media screen and (max-width: 468px){
    .Container-heading h1{
       text-align: center;
       
    }
    .Container-heading{
        margin: 10px;
    }
    .conten{
        flex-direction: column;
        
    }
    .conten-left{
        width: 100%;
        margin-bottom: 20px;
    }
    .conten-right{
        padding: 10px;
        width: 100%;
    }
    .Container-heading{
        height: 8%;
    }
    .Container{
        width: 90%;
    }
    .text{
        font-size: small;
    }
    .top h1{
        font-size: 2.2em;
    }
    .top img{
        height: 50%;
        width: 50%;
    }
}
