.lifepathnumber {
    /* background-color: #FDF2F8; */
    /* min-height: 100vh;    */
    display: flex;
    flex-direction: column;

}

.life-path-title {
    font-size: clamp(2.5rem, 5vw, 3rem);
    color: purple;
    font-weight: 500;
    text-align: center;
    /* font-size: 1.3rem; */
    margin-top: 20px;
}

.life-number-container {
    display: flex;
    /* border: 1px solid black; */
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.life-number {
    border: 1px solid black;
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 13px;
    background-color: white;
    font-size: 3rem;
    font-weight: bold;
}

.lifepathcard {
    width: 100%;
    /* Adjust width to fit well on smaller screens */
    max-width: 700px;
    margin: 20px auto;
    /* Center the card horizontally */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fdf2f8;
    cursor: pointer;
    border: transparent;
    margin-top: 30px;
    /* border: 1px solid black; */
}

.card-topline {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-card {
    width: 25px;
    height: 25px;
    /* margin-left: 10px; */
}

.card-description {
    padding: 10px;
    text-align: justify;
}

@media (max-width: 768px) {
    .life-path-container {
        /* border: 1px solid black; */
        width: 100%;
    }
    .lifepathcard {
        
        width: 90%;
    }
}
