
.Main-Page{
    min-height: 100vh;
    width: 100%;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
    
}

.Options{
    margin: 50px 0;
   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(20px, 7vw, 90px);
 
    
    
    flex-wrap: wrap;
}
.list{
    cursor: pointer;
    margin: 0 20px;
 
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column ;
  
    gap: 10px;
    text-align: center;
}
.Emotional-options{
    margin: 20px 10px;
    gap: 25px;

}
.circle{
    
    overflow: hidden;
    
    border: 2px solid black;
    height:clamp(100px, 150px, 200px);
    width: clamp(100px, 150px, 200px);
    
    border-radius: 50%;
    
}
.item-price{
    font-size: medium;
}
.list-item{
    list-style: none;
    letter-spacing: 0.01vw;
    font-weight: 500;
    font-size: clamp(1.0rem, 1.4vw, 2rem);
}

.circle img{
    
    transition: all 0.5s ease-in-out;
    
    height: 100%;
    border-radius: 50%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}
.Hero-section{
    height: 100%;
    width: 100%;
    
}
.Hero-section p{
    
    margin: 20px;
    font-size: clamp(1.0rem, 1.2vw, 2rem);
}
.meditationVideos{
    height: 100%;
    width: 100%;
    display: flex;
}
.cards{
    margin-top: 50px;
    padding: 30px;
    width: 100%;
    height: 100%;
    /* border-top: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
    flex-wrap: wrap;
}
.Card{
    position: relative;
    min-height: 20vh;
    min-width: 230px;
    box-shadow: 0px 0px 10px 0px rgb(10, 10, 10);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    height: 35vh;
    padding: 10px;
    width: 20vw;
    cursor: pointer;
    gap: 20px;
    overflow: hidden;
}
.Card:hover{
    box-shadow: 0px 0px 20px 0px rgb(10, 10, 10);
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}
.Card h1{
    padding-top: 10px;
    font-size: clamp(0.5rem, 1.6vw, 2.2rem);
    text-align: center;
}

.Card iframe{
    height: clamp(10rem, 10vw, 12rem);
    border-radius: 5px;
    min-width: 200px;
    width: 20vw;
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    /* height: clamp(5vh, 20vw, 30vh); */
    
}
@media screen and (max-width: 468px){
    .Hero-section p {
        font-size: clamp(0.8rem, 1.2vw, 2rem) !important;
    }
    .Options{
        flex-direction: column;
        gap: 20px;
    }
    .list{
        margin: 20px 0;

    }
    .list-item{
        font-size: 5.1vw;
    }
    .circle{
        height: 30vw;
        width: 30vw;
    }
    .cards {
        margin-top: 30px !important;
    }
    
    .Card{
        height: 75vw;
        width: 80vw;
    }
    .Card h1{
        padding-top: 10px;
        font-size: clamp(1.5rem, 1.6vw, 2.2rem);
    }
    .Card iframe{
        width: 70vw;
    }

}