.hero-container {
    width: 100%;
    max-width: 85rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
  }

  .up {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* gap: 2rem; */
    justify-content: space-between;
  }
  
  .hero-card {
        /* text-align: center; */
        gap: 0.5rem;
        /* height: 12.5rem; */
        display: flex;
        align-items: center;
        background-image: linear-gradient(to top right, #d6bcfa, #93c5fd);
        padding: 2rem;
        border-radius: 1rem;
        cursor: pointer;
  }
  
  
  .hero-card-title {
    margin-top: 0.75rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #1f2937;
  }
  
  .hero-card-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-color: #374151;
  }
  
  .hero-card-icon {
    flex-shrink: 0;
    width: 5rem;
    height: 5rem;
    color: #4b5563;
  }
  

  
  @media (max-width: 1204px) {
    .up {
        gap: 2rem !important;
    }
    .hero-card-title {
        font-size: 1.3rem !important;
    }
    .hero-card-icon {
        width: 4rem !important;
    }
  }
  @media (max-width: 1064px) {
    .hero-card-title {
        font-size: 1rem !important;
    }
    .hero-card-icon {
        height: 4.6rem !important;
        width: 4rem !important;
    }
  }
  @media (max-width: 964px) {
    .hero-card-title {
        font-size: 0.8rem !important;
    }
    .hero-card-icon {
        height: 4rem !important;
        width: 4rem !important;
    }
  }
  @media (max-width: 864px) {
    .hero-card {
        text-align: center;
        gap: 1.2rem !important;
        flex-direction: column-reverse;
        width: 100%;
        justify-content: space-between !important;
    }
    .hero-card-title {
        font-size: 1.2rem !important;
    }
  }

  @media (max-width: 664px) {
    .up {
        gap: 1rem !important;
    }
    .hero-card{
      height: 120px;
      width: 22%;
      padding: 1rem !important;
      gap : 0px !important;
    }
    .hero-card-title {
      font-size: 0.8rem !important;
    }
    .hero-card-icon {
      height: 2.5rem !important;
      width: 2.5rem !important;
    }
  }

  @media screen and (max-width: 640px) {
    .hero-container {
      padding-top: 2rem !important;
      padding-bottom: 2rem !important;
    }
    .hero-card {
      height: 100px;
      display: flex;
      align-items: center;
      background-image: none !important; 
      padding: 0px !important;
    }
    .hero-card-title {
      display: flex;
      height: 40px;
      background-image: linear-gradient(to top right, #d6bcfa, #93c5fd);
      justify-content: center;
      align-items: center;
      width: 100%;
      border-radius: 5px;
    }
  }
