
.section h2 {
  font-weight: bold;
  font-size: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
  align-content: center;
}

.section {
  display: block;
  margin-bottom: 40px;
}

.box {
  display: inline-block;
  width: calc(50% - 25px);
  min-height: auto;
  background: rgb(154,82,155);
  background: linear-gradient(93deg, rgba(154,82,155,1) 0%, rgba(88,121,227,1) 100%);
  border: 2px solid rgb(154,82,155);
  border-radius: 20%;
  opacity: 100%;
  padding: 15px;
  margin: 10px;
  cursor: pointer;
}

.box img {
  max-width: 100%;
  height: 100%;
  justify-content: center;
}

.box h2 {
  margin-bottom: 10px;
}

h3 {
  font-style: bold;
}

.Personal-Traits1{
  width: 100px;
  height: 80px;
  border: rgb(138, 9, 9);
}
.Life-Path{
  width: 100px;
  height: 100px;
  border: bold black;
}

/*button:hover{
  background-color: rgb(255, 0, 93);
}
input:hover{
  background-color: rgb(255, 0, 93);
} */

.img-icon{
  width: 100%;
  width: 265px;
} 
.img-icon-1{
  width: 100%;
}
.choose-file{
  overflow: hidden;
  margin-top: 20px;
}

.face-container{
  height: 100vh;
  padding-top: 2rem;
}
.face-reader{
  background-color: #FDF2F8;
  width: 80vw;
  padding-bottom: 20px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}

.face-input-section {
  display: flex;
  width: 78%;
  margin-left:auto;
  margin-right: auto;
  border-radius: 1rem;
  border: solid #D9D9D9;
  background-color: #D9D9D9;
}
.two-face{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.img-display-after {
  margin-top: 10px;
  /* background-color: #FDF2F8; */
  /* width: 300px; */
  /* height: 250px; */
  /* margin-left: 140px; */
  /* border-radius: 1rem; */
  -o-object-fit: contain;
  object-fit: contain;
}
.card-mt-3 {
  /* height: 100%; */
  display: inline-block;
  vertical-align: middle;
  /* padding-left: 20px; */
  /* padding-right: 20px; */
  border-right: 2px solid #000; /* Add a right border */
}

.face-image-upload {
  display: inline-block;
  vertical-align: middle;
}

.file-scan-container {
  width: calc(100% - 60%); /* Adjust the value accordingly */
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 1em;
  justify-content: space-around;
}


.file-input{
  font-size:medium;
}

.file-or{
  text-align: center;
  font-size: large;
  font-weight: 600;
}
.scan-btn {
  /* Styles for scan-btn */
  background-color: black;
  color: white;
  border-radius: 10px;
}


.time{
  width: 440px;
  height: 250px;
  background-color: #ffffff;
  border: solid#dbcf9e;
  margin-top: 50px;
  border-radius: 1rem;
  object-fit: contain;
}

.time-past{
  display: flex;
  width: 78%;
  margin-left: auto;
  margin-right: auto;
}


.btn{
  margin-left: 5px;
  display: contents;
  font-weight: bold;
  padding: 15px;
  margin: 10px;
}
.ancestors-from{
  height: 75%;
  width: 100%;
  background-color: grey;
  object-fit:cover;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem ;

}
.magic-icon{
  height: 75%;
  width: 100%;
  background-color: grey;
  object-fit:cover;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem ;
}
.face-text{
  text-align: center;
  font-size: clamp(2.5rem, 4vw, 3rem);
  font-weight: 600;
  padding: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
  color: #672F98;
}
.time-magic {
  height: 25%;
  display: flex; /* Use flexbox */
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}
.magic-text{
  font-size: x-large;
  text-align: center;
  font-weight: bold;
}
.ancestors-text{
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}
.face-text-result{
  padding: 30px;
  font-size: clamp(2.5rem, 4vw, 3rem);
  text-align: center;
  color: #672F98;
  font-weight: 600;
}
.face-result{
  width: 100vw;
  height: 100vh;
  background-color: #FDF2F8;
  overflow: auto;
}


.face_result_data-content ul {
  list-style-type: none;
  padding: 0;
}

.face_result_data-content li {
  margin: 5px 0;
}

.face-result-whole{
  width: 100vw;
  height: 100%;
  background-color: #FDF2F8;
}

.face-result-box{
  width: 60%;
  min-height: 300px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  background-color: white;
  border-radius: 1rem;
}

.face-result-title{
  font-size: 30px;
  padding-top: 10px;
  text-align: center;
}

.face-result-icon{
  width: 60px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  object-fit: contain;
}
.hr-tag{
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
}

.Time-magic-pic {
  margin-top: 100px;
  display: flex;
  width: 90%;
  height: 50%;
  border-radius: 1rem;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.Know-past{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding: 15px;
  background-color: white;
  border-radius: 1rem; 
}
.choose-file-palm{
  margin-left: 500px;
  margin-top: 50px; 
}
.scan-btn-palm{
  background-color: pink;
  width: 140px;
  margin-left: 900px;
  border-radius: 10px;
}

.warning-btn{
  background-color: black;
  color:white;
  padding: 10px;
}

.palm-input-section {
  display: flex;
  width: 78%;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 40px;             
  border-radius: 1rem;
  border: solid #D9D9D9;
  background-color: #D9D9D9;
}

.webcam-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.webcam-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.webcam {
  width: 80%;
  height: auto;
  border-radius: 20px;
}

.webcam-buttons {
  min-width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 20px;
}

.capture-btn {
  padding: 10px;
  border: none;
  background:#0056b3;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.capture-btn:hover {
  background-color: #0056b3;
}

.switch-camera-btn{
  background-color: white;
}

.close-webcam-btn {
  padding: 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
}

.close-webcam-btn:hover {
  background-color: #c82333;
}


@media screen and (min-width:700px) and (max-width:1000px){
  .file-input{
    font-size:small !important;
  }
  .file-scan-container {
    padding: 20px 10px 20px 0px !important;
  }
}

@media (max-width: 768px) {
  .box {
    width: calc(50% - 20px);
  }

}

@media screen and (min-width:700px) {
  .face-image-upload {
    padding-left: 20px;
  }
}

@media screen and (min-width:200px) and (max-width:700px){
  .face-input-section {
    width:80% !important;
  }
  .palm-input-section {
    width: 85% !important;
  }
  .two-face {
    display: flex;
    flex-direction: column;
  }
  .card-mt-3{
    border-right: 0px solid #000;
    border-bottom: 2px solid #000;
  }
  .img-icon-1 {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
  }
  .img-icon {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
  }
  .file-scan-container {
    width: calc(100% - 50%);
    justify-content: center;
  }
  .file-input {
    font-size: small !important;
  }
}

@media screen and (max-width:640px) {

  .face-reader{
    width: 90vw;
  }
  .scan-btn {
    font-size: small;
  }
  .magic-text {
    font-size: medium !important;
  }
  .capture-btn {
    font-size: small;
  }
  .file-or {
    font-size: small;
  }
}

@media (max-width: 576px) {
  .box {
    width: calc(100% - 20px);
  }
}

@media screen and (min-width:468px){
  .switch-camera-btn{
    display: none;
  }
}
@media screen and (max-width: 468px) {
  .face-result-box{
    width: 90%;
    padding: 10px;
  }
  .face_result_data-content{
    font-size: 1rem;
  }
  .face-result-title {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .Time-magic-pic {
    height: 45%;
  }
}