
.Travel-container{
  height: 95vh;
}
.timetravel-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.tt-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.grid-items-tt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-weight: 600;
  height: 210px;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 18px;
  /* border-radius: 20px; */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  place-items: center;
  position: relative;
  transition: all 1s;
  z-index: 1;
  overflow: hidden;
}

.grid-items-tt:hover {
  cursor: pointer;
}

.info-tt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -30px;
  width: 100%;
}


.button-container-tt {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  width: 90%;
  font-size: 12px;
  font-weight: 600;
  border: none;
  background-color: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.book-call-tt {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px;
  color: black;
  font-size: 25px;
}
@media (max-width: 768px) {
  .timetravel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-grow: 2;
    row-gap: 20px
  }
  .grid-items-tt::after {
    width: 0%;
  }
}
@media (max-width: 640px) {
  .grid-items-tt {
    height: 200px;
    width: 260px;
  }
  .button-container-tt {
    height: 80px;
    width: 260px;
  }
  .book-call-tt {
    font-size: 20px;
  }
}
.bg-fup {
  background: url("/assets/3rd-row/TimeTravel/images/future prediction.png") no-repeat center
  center/cover;
}
.bg-plp {
  background: url("/assets/3rd-row/TimeTravel/images/past life.png") no-repeat center
    center/cover;
}
