/* Chart styles */
.canvas {
  height: 200px;
  box-sizing: border-box;
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

/* Label button styles */
.labelbtn-container {
  width: 58%;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-left: 1em;
  
}

.label-button {
  font-size: 12px;
  background-color: black;
  color: white;
  padding: 1px;
  transition: background-color 0.3s;
  border-radius: 4px;
  font-weight: 600;
  margin-left: 1px;
  height: 4em;
  width: 8em;
}

.label-button:hover {
  background-color: white;
  color:black;
}

/* Biorhythm data container styles */
.data-container {
  margin: 4px;
  padding: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-image: linear-gradient(to bottom, black, gray);
  color: white;
  text-align: center;
}

/* Biorhythm cycle information container styles */
.info-container {
  padding: 18px;
  margin: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  background-image: linear-gradient(to bottom, black, gray);
  color: white;
  font-weight: 600;
  font-family: serif;
}


/* Biorhythm cycle headings styles */
.physical-info ,.emotional-info, .intellectual-info, .average-info {
  font-size: 32px;
  font-weight: bold;
  margin-top: 32px;
}

.physical-info{
  color: brown;
}
.emotional-info{
  color:blue;
}
.intellectual-info{
  color: rgb(80, 229, 64);
}
.average-info{
  color:yellow;
}
/* Biorhythm cycle paragraph styles */
.desc-dream {
  font-size: 18px;
  color: white;
}

.biorhythm-info {
  padding: 2rem;
  margin: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-image: linear-gradient(to bottom, #000000, #808080);
  color: white;
  font-weight: 600;
  font-family: serif;
  border-radius: 0.5rem;
}

.biorhythm-title {
  font-size: 2rem;
  color: #007bff;
  font-weight: bold;
  margin-top: 2rem;
}

.physical-cycle-title {
  font-size: 1.5rem;
  color: #dc3545;
  font-weight: bold;
  margin-top: 1.5rem;
}

.physical-cycle-description {
  font-size: 1rem;
  margin-top: 1rem;
}

.emotional-cycle-title {
  font-size: 1.5rem;
  color: #0d6efd;
  font-weight: bold;
  margin-top: 2rem;
}

.emotional-cycle-description {
  font-size: 1rem;
  margin-top: 1rem;
}

.intellectual-cycle-title {
  font-size: 1.5rem;
  color: #198754;
  font-weight: bold;
  margin-top: 2rem;
}

.intellectual-cycle-description {
  font-size: 1rem;
  margin-top: 1rem;
}

.average-title {
  font-size: 1.5rem;
  color: #f1eb48;
  font-weight: bold;
  margin-top: 2rem;
}

.average-description {
  font-size: 1rem;
  margin-top: 1rem;
}

.critical-days-title {
  font-size: 1.5rem;
  color: #0dcaf0;
  font-weight: bold;
  margin-top: 2rem;
}

.critical-days-description {
  font-size: 1rem;
  margin-top: 1rem;
}


/* Daily interpretation styles */
/* (Styling for DailyInterpreTation component can be added here if necessary) */
