.Account-page{
    display: flex;
    height: 708px;
    width: 100vw;
}
.Account-page1{
    display: flex;
    height: 708px;
    width: 100vw;
}
.logo-background{
    height: 100%;
}
.login-message{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 30px;
    height: 100vh;
}
.login-msg-h2{
    font-weight: 600; 
}
.login-msg-btn{
    width: 260px;
    background-color: darkgray !important;
    font-size: 1.2rem;
}


.Account-page-image{
    position: relative;
    width: 40%;
    display: flex;
    align-items: center;
    min-height: 160px;
}
.Account-page-details{
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
}
 .Account-input{
    border:none;
    border-bottom: 1px solid black;
    outline: none;
    margin-left: 2% !important;
}
.change{
    padding: 20px;
    /* margin-left: 70px; */
    display: flex;
    align-items: center;
}
.saveNedit{
    font-size: 0.9rem;
    margin-top: 20px;
    margin-right: auto;
    width: 150px;
    background-color: purple !important;
    color: white;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}
.account-title{
    margin-top: 20px;
    color: purple;
    font-size: 1.5rem;
    font-weight: bold;
}
.react-select-container {
    width: 100px; /* Set the width of the select option */
    display: inline-block;
    margin-left: 2%; /* Display it inline with the number input */
}
  
  /* Style for the number input */
.number-input {
    width: calc(100% - 60%); /* Adjust the width of the number input */
    border:none;
    border-bottom: 1px solid black;
    outline: none;
    margin-left: 2% !important;
}
.react-select-city{
    width: 200px; /* Set the width of the select option */
    display: inline-block;
    margin-left: 2%;
}

@media screen and (max-width: 800px){
    .Account-page{
        flex-direction: column;
    }
    .Account-page-image{
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .logo-background{
        background-color:papayawhip;
    }
    .Account-page-details{
        width: 100% !important;
    }
}
@media screen and (max-width: 468px){
    .account-title {
        font-size: larger;
        margin-top: 0px;
    }
    .change {
        padding: 10px 5px;
    }
    .saveNedit{
        margin-left: auto;
        margin-right: auto;
    }
    .Account-logo-img{
        position: relative !important;
        top: 0px !important;
        left: 0% !important;
        width: 100% !important;
    }
    .logo-background {
        display: none;
    }
}