.Account-page{
    display: flex;
    height: 100vh;
    width: 100vw;
}
.Account-page-image{
    height: 100vh;
    width: 40%;
    display: flex;
    align-items: center;
}
.Account-page-details{
    width: 60%;
}
.Account-form{
width: 600px;
margin-right: 200px;

}
 .Account-input{
    border:none;
    border-bottom: 1px solid black;
    outline: none;
    margin-left: 2% !important;
}
.change{
    padding: 20px;
    margin-left: 70px;
    display: flex;
    align-items: center;
}
.saveNedit{
    margin-top: 20px;
    width: 150px;
    background-color: purple !important;
    color: white;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}
.account-title{
    padding: 20px;
    margin: 20px;
    color: purple;
    margin-left: 70px;
    font-size: 1.5rem;
    font-weight: bold;
}
.react-select-container {
    width: 100px; /* Set the width of the select option */
    display: inline-block;
    margin-left: 2%; /* Display it inline with the number input */
}
  
  /* Style for the number input */
.number-input {
    width: calc(100% - 60%); /* Adjust the width of the number input */
    border:none;
    border-bottom: 1px solid black;
    outline: none;
    margin-left: 2% !important;
}
.react-select-city{
    width: 200px; /* Set the width of the select option */
    display: inline-block;
    margin-left: 2%;
}
